In [ ]:
json_data = {"DepartmentId": 15, "Faculty": "amitabh", "Hod_name": "Tudu"}